.logo {
    height: 60px;
    /* background: rgb(117, 135, 152); */
    margin: 16px 0;
    .LogoNav,
    .SloganNav {
        width: 30%;
    }
    .SloganNav {
        margin-left: 12px;
    }
}

.site-layout .site-layout-background {
    background: #fff;
}

h4.ant-typography,
.ant-typography h4 {
    /* margin-bottom: 0.5em; */
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    /* line-height: 1.4; */
    display: flex;
    left: 31px;
    margin-left: 20px;
}

.Header {
    padding: 0px;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.Container {}